@using Data.Entities
@model List<StreetRoad>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Streets</title>
</head>
<body>
    @section Checkboxes{
        @using (Ajax.BeginForm("SortStreets", null, new AjaxOptions { UpdateTargetId = "sortResult" }, new { id = "sortStreet" }))
        {
            var selected = false;

            foreach (var category in ViewBag.Category)
            {
                if ((string)category == "All")
                {
                    selected = true;
                }
                else
                {
                    selected = false;
                }

                <div class="form-check form-check-inline">
                    @Html.RadioButton("category", (string)category, selected, new
                    {
                           onchange = "ChangeCategory()",
                           @class = "form-check-input",
                           id = "radVal",
                           value = $"{ViewBag.Category}"
                    })
                    @Html.Label((string)category, new { @class = "form-check-label" })
                </div>
            }
        }
    }
    @section Search{
        @using (Ajax.BeginForm("SearchStreet", null, new AjaxOptions { UpdateTargetId = "searchResult" }, new { id = "streetInfo" }))
        {
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Enter street"
                       aria-label="Search" name="streetName" id="inpSymbol" >
            </form>
        }
    }
    <div class="container container-fluid">
        <br />
        <div id="sortResult"></div>
    </div>
</body>
</html>


