@using Data.Entities
@model List<StreetRoad>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <title>Streets</title>
</head>
<body>
    <div class="container container-fluid">
        <div class="row justify-content-md-center" id="addDef">
            <div class="col-md-4">
                @Html.ActionLink("Start add defects", "AddDefects", "Home", null, new { @class = "btn btn-block btn-danger btn-lg", @id = "addDef"})
            </div>
        </div>
        <div class="row justify-content-md-center">
            @using (Ajax.BeginForm("SearchStreet", null, new AjaxOptions { UpdateTargetId = "searchResult" }, new { id = "streetInfo" }))
            {
                <form class="form-inline">
                    <label>
                        Search street: <input class="form-inline mr-sm-2" type="search" placeholder="Enter street name"
                                              aria-label="Search" name="streetName"
                                              onkeyup="$('#streetInfo').trigger('submit')" }>
                    </label>
                </form>
            }
        </div>
        <div class="row justify-content-md-center">
            @using (Ajax.BeginForm("SortStreets", null, new AjaxOptions { UpdateTargetId = "sortResult" }, new { id = "sortStreet" }))
            {
                var selected = false;

                foreach (var str in ViewBag.Category)
                {
                    if ((string)str == "All")
                    {
                        selected = true;
                    }
                    else
                    {
                        selected = false;
                    }

                    <div class="form-check form-check-inline">
                        @Html.RadioButton("category", (string)str, selected, new { onchange = "ChangeCat()", @class = "form-check-input" })
                        @Html.Label((string)str, new { @class = "form-check-label" })
                    </div>
                }
            }
        </div>
        <div id="searchResult"></div>
        <br />
        <div id="sort"></div>
        <br />
        <div id="sortResult"></div>
    </div>
    <script type="text/javascript">
        $('#addDef').css('visibility', 'hidden');

        $(document).ready(function () {

            ChangeCat();            

            //setTimeout('window.location.reload();', 5000);
        });

        function ChangeCat() {
            $('#sortStreet').trigger('submit');
        }
    </script>
</body>
</html>